---
layout: default
---
<article class="post">

  <header class="post-header">
    <h3 class="post-title">{{ page.title | escape }}</h3>
  </header>

  <div class="post-content">
    {{ content }}
    {%- if site.posts.size > 0 -%}
    <h3 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h3>
    <ul class="post-list">
      {%- for post in site.posts -%}
      {%- if post.categories contains "mięso"-%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h4>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
          {{ post.subtitle }}
        </h4>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endif -%}
      {%- endfor -%}
    </ul>

    
  {%- endif -%}
  </div>

</article>
