---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">
  <p class="post-meta">
    <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {{ page.date | date: date_format }}
    </time>
    </p>
  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    {%- if page.authors -%}
        Autorzy: <span itemprop="authors" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.authors }}</span></span>
      {%- endif -%}
      {%- if page.alert -%}
      <hr><br>
        Uwaga: {{ page.alert }}
      {%- endif -%}
      </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
    {%- if page.comment -%}
        <strong>Mój komentarz:</strong> {{ page.comment }}
      {%- endif -%}
  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
